In [ ]:
# 데이터 다운로드 하기

In [2]:
import urllib.request

#  URL 과 저장 경로 지정
url = "http://uta.pw/shodou/img/28/214.png"
savename = "./test.png"

# 다운로드 하기
urllib.request.urlretrieve(url,savename)
print("저장 되었습니다!")

저장 되었습니다!

In [ ]:
import urllib.request

#  URL 과 저장 경로 지정
url = "http://uta.pw/shodou/img/28/214.png"
savename = "./test.png"

# 다운로드 하기

mem = urllib.request.urlopen(url).read()

#  파일로 저장하기 
with open(savename, mode="wb") as f:
    f.write(mem)
    print("저장 완료! ")

# BeautifulSoup -> Scrapping 하기

In [6]:
#  기본 사용법
from bs4 import BeautifulSoup

# HTML Sample

html = """
    <html>
        <body>
            <h1>Header</h1>
            <p> Line 1을 서술 </p>
        </body>
    </html>
"""

# HTML 분석
soup = BeautifulSoup(html , 'html.parser')
# print(soup)

# 원하는 부분 추출하기
h1 = soup.html.body.h1
p1 = soup.html.body.p
print(h1)

# Text 만 출력
print("h1=" , h1.string)
print("h1=" , h1.text)
print("p1=" , p1.string)
print("p1=" , p1.text)

<h1>Header</h1>
h1= Header

In [11]:
# id로 요소를 추출하기

from bs4 import BeautifulSoup

# HTML sample

html = """
    <html>
        <body>
            <h1 id="title">Header </h1>
            <p id="body">Line 1 description </p>
            <span class="whatever">what the fucl?</span>
        </body>
    </html>
"""

# HTML analystic
soup = BeautifulSoup(html , "html.parser")

# extract where i want

title = soup.find(id= "title")
body = soup.find(id="body")

print(title)
print(body)

# text 만 출력
print("span = ", soup.find("span" , {"class" : "whatever"}).text)

<h1 id="title">Header </h1>
<p id="body">Line 1 description </p>
span =  what the fucl?

In [15]:
# 여러개의 요소 추출하기

from bs4 import BeautifulSoup

html =  """
    <html>
        <body>
            <ul>
                <li><a href="http://www.naver.com">naver</a></li>
                <li><a href="http://www.daum.net">daum</a></li>
            </ul>
        </body>
    </html>
    

"""

# HTML analystic

soup = BeautifulSoup(html , 'html.parser')
links = soup.find_all('a')

# 링크 목록 출력 하기
for link in links:
    #  해당하는 속성 들고 오기
    hrefTag = link.attrs['href']
    print(hrefTag)

http://www.naver.com
http://www.daum.net

http  -> http://www.weather.go.kr/weather/forecast/mid-term-rss3.jsp?stnId=109

In [ ]:
# 기상청 자료 활용하기

from bs4 import BeautifulSoup
import urllib.request as req

url = "http://www.weather.go.kr/weather/forecast/mid-term-rss3.jsp?stnId=109"

# DATA 가져오기

res = req.urlopen(url)
soup = BeautifulSoup(res , "html.parser")

# 원하는 데이터 추출 하기
title = soup.find("title").string
info = soup.find("wf").string

infoSorts = info.split("<br />")

for infoSort in infoSorts:
    print(infoSort)

# CSS 선택자 사용하기

soup.select_one() : css 선택자로 요소 하나를 추출
soup.select() : css 선택자로 요소 여러개를 리스트로 추출

In [38]:
from bs4 import BeautifulSoup

html = """
    <html>
        <body>
            <div id= "meigen">
                <h1>위키 북스</h1>
                <ul class="items">
                    <li>유니티 게임 이펙트 입문서</li>
                    <li>스위프트로 시작하는 아이폰 앱 개발 교과서</li>
                    <li>모던 웹사이트 디자인의 정석</li>
                </ul>
            </div>
        </body>
    </html>
"""

soup = BeautifulSoup(html , "html.parser")

# 필요한 부분 css 로 추출하기
# title 부분 추출하기


# "id : #", "class :."> : 자손," ": 후손"
h1 = soup.select_one("div#meigen > h1")
print(h1)

<h1>위키 북스</h1>

In [42]:
# 목록 부분 추출하기
li_lists = soup.select("div#meigen > ul.items > li")
# print(li_lists)

for li_list in li_lists:
    print(li_list.string)

유니티 게임 이펙트 입문서
스위프트로 시작하는 아이폰 앱 개발 교과서
모던 웹사이트 디자인의 정석

In [112]:
# 네이버 금융에서 환율 정보 추출 하기

import urllib.request as req
from bs4 import BeautifulSoup


url = "https://finance.naver.com/marketindex/"



res = req.urlopen(url)

soup = BeautifulSoup(res , "html.parser" )

titles = soup.select("h3.h_lst > span.blind")

for title in titles[0:4]:
    print(title.string)

¹Ì±¹ USD
ÀÏº» JPY(100¿£)
À¯·´¿¬ÇÕ EUR
Áß±¹ CNY

In [66]:
prices = soup.select("div.head_info > span.value")
price_array = []
country_array = ["미국 : " , "일본 : " , "유럽연합 : " , "중국 : "]
for price in prices[:4]:
    price_array.append(price.string)
    
for i in range(len(price_array)):
    print(country_array[i] , price_array[i])

미국 :  1,143.30
일본 :  1,035.64
유럽연합 :  1,357.61
중국 :  176.72

In [102]:

import urllib.request as req
from bs4 import BeautifulSoup

url = "https://movie.daum.net/ranking/boxoffice/yearly"

res = req.urlopen(url)

soup = BeautifulSoup(res , "html.parser")

titles = soup.select("a.link_txt")

title_array = []

for title in titles[:50]:
    title_array.append(title.string)

for i in range(len(title_array)):
    print(str(i + 1) + " : " +title_array[i])

1 : 남산의 부장들
2 : 다만 악에서 구하소서
3 : 반도
4 : 히트맨
5 : 테넷
6 : 백두산
7 : #살아있다
8 : 강철비2: 정상회담
9 : 담보
10 : 닥터 두리틀
11 : 삼진그룹 영어토익반
12 : 정직한 후보
13 : 도굴
14 : 클로젯
15 : 오케이 마담
16 : 해치지않아
17 : 천문: 하늘에 묻는다
18 : 결백
19 : 1917
20 : 작은 아씨들
21 : 미드웨이
22 : 시동
23 : 지푸라기라도 잡고 싶은 짐승들
24 : 미스터 주: 사라진 VIP
25 : 인비저블맨
26 : 나쁜 녀석들: 포에버
27 : 국제수사
28 : 침입자
29 : 스타워즈: 라이즈 오브 스카이워커
30 : 스파이 지니어스
31 : 이웃사촌
32 : 온워드: 단 하루의 기적
33 : 소리도 없이
34 : 버즈 오브 프레이(할리 퀸의 황홀한 해방)
35 : 원더 우먼 1984
36 : 겨울왕국 2
37 : 오! 문희
38 : 그린랜드
39 : 위대한 쇼맨
40 : 런
41 : 뮬란
42 : 내가 죽던 날
43 : 기생충
44 : 신비아파트 극장판 하늘도깨비 대 요르문간드
45 : 프리즌 이스케이프
46 : 검객
47 : 조제
48 : 사라진 시간
49 : 밤쉘: 세상을 바꾼 폭탄선언
50 : 알라딘

In [ ]:
import urllib.request as req
from bs4 import BeautifulSoup

url = "https://news.daum.net/digital#1"

res = req.urlopen(url)

soup = BeautifulSoup(res , "html.parser")

titles = soup.select("strong.tit_g > a.link_txt")

href_array = []
title_array = []

for title in titles:
    href_array.append(title.attrs["href"])
    title_array.append(title.string.strip())

for i in range(len(title_array)):
    print(str(href_array[i]) + " : " + str(title_array[i]))

In [123]:
# 다음 티켓

import urllib.request as req
from bs4 import BeautifulSoup
import pandas as pd

url = "https://movie.daum.net/"

url1 = "ranking/boxoffice/weekly"

res1 = req.urlopen(url + url1)

soup = BeautifulSoup(res1 , "html.parser")

titles = soup.select("strong.tit_item > a.link_txt")

href_array = []

title_array = []

countLists = []

count = 0
for title in titles:
    count += 1
    href = title.attrs["href"]
    href_array.append(href)
    title_array.append(title.string.strip())
    countLists.append(count)


df = pd.DataFrame(data = countLists , columns = ['Index'])
df['Titles'] = pd.Series(title_array)
df

df.to_csv("DaumMovieWeekly.csv" , sep=",",encoding='utf-8' , index=False)

In [137]:
# RottenTomatoesLists

import urllib.request as req
from bs4 import BeautifulSoup
import pandas as pd

i_array = ["2019" , "2020" , "2021"]

for i in range(len(i_array)):
    url = "https://www.rottentomatoes.com/top/bestofrt/?year="+i_array[i]

    res = req.urlopen(url)

    soup = BeautifulSoup(res , "html.parser")

    titles = soup.select("td > a.unstyled")
    ratings = soup.select("span.tMeterScore")
    
    print(i_array[i] + "의 순위")

    title_array = []
    rating_array = []
    count = 0
    count_array = []
    for title in titles:
        count += 1
        title_array.append(title.string.strip())
        count_array.append(count)

    for rating in ratings:
        rating_array.append(rating.string)

    df = pd.DataFrame(data = count_array , columns = ['Ranking'])
    df['Rating'] = pd.Series(rating_array)
    df['Titles'] = pd.Series(title_array)
    
    df.to_csv("RTMovieWeekly"+i_array[i] +".csv" , sep=",",encoding='utf-8' , index=False)

2019의 순위
2020의 순위
2021의 순위

# MYSQL 연결

In [144]:
import pymysql as sql

conn = sql.connect(host="127.0.0.1",user="root" , passwd = "qwer1234" , db="education" , charset="utf8")

curs = conn.cursor()

sqlSyntax = "select * from student"

curs.execute(sqlSyntax)

# DATA Fetch
rows = curs.fetchall()
# print(rows)


# list로 변환
# 한번에 리턴 해주기 때문에 tuple 이라고 인지 하고 있다.
rowList = list(rows)
print(rowList)

conn.close()

[('123', '오낑깡', '심리', '010203040', None), ('S001', '박소명', '컴퓨터공학과', '123-4567', None), ('S002', '최민국', '컴퓨터공학과', '234-5678', None), ('S005', '김상진', '사학과', '567-8901', None), ('S006', '황정숙', '사학과', '678-9012', None), ('z999', 'wjsn', 'skjxz', '02929384', None)]

#  select의 내용을 dataframe으로 보기

In [147]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:qwer1234@127.0.0.1:3306/education?")
conn = engine.connect()

data = pd.read_sql_table('student' , conn)
data

  scode sname   sdept     sphone saddress
0   123   오낑깡      심리  010203040     None
1  S001   박소명  컴퓨터공학과   123-4567     None
2  S002   최민국  컴퓨터공학과   234-5678     None
3  S005   김상진     사학과   567-8901     None
4  S006   황정숙     사학과   678-9012     None
5  z999  wjsn   skjxz   02929384     None

# dataFrame을 Database 로 insert 하기

In [148]:
column = ['rank' , 'title']

movies = pd.read_csv("DaumMovieWeekly.csv")
movies.columns = column
movies.head()

   rank        title
0     1       블랙 위도우
1     2         발신제한
2     3         크루엘라
3     4  콰이어트 플레이스 2
4     5           랑종

In [151]:

engine = create_engine("mysql+pymysql://root:qwer1234@127.0.0.1:3306/daum?")
conn = engine.connect()

movies.to_sql(name='daumlist' , con=conn ,if_exists='append' , index=False)

In [153]:
column = ['rank' ,'rate' ,'title']

rottenMovies = pd.read_csv("RTMovieWeekly2021.csv")
rottenMovies.columns = column
rottenMovies.to_sql(name='rotten_tomatoes' , con = conn , if_exists='append' , index = False)